table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
   
  }
  
  .topnav {
    overflow: hidden;
    background-color: rgb(37, 26, 190);
    position: sticky;
  }
  #login{
      float: right;
      margin-right: 80px;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
   .topnav a:hover {
    background-color: rgb(189, 184, 184);
    color: black;
  }
  
  .topnav a.active {
    background-color: #e6b05f;
    color: rgb(77, 67, 67);
  }
 .image{
  background-image: url(/images/hr1.jpg);
  background-color: #cccccc;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: inherit;
 }