#color {
	color : tomato;
	border : 1px solid green;
}

#hex {
	color : #445599;
	/*color : #947;*/
	background-color : #ffddee;
	/*background-color : #fde;*/
}
/*The below s the rgb and rgba formats*/
#rgb {
	color : rgb(255,255,255);
	background-color : rgba(0,0,0);
}
#rgba {
	color : rgb(255,255,255);
	background-color : rgba(0,0,0,0.5);
}

#hsl {
	background-color : hsl(230,50%,60%);
	color : hsla(350,40%,20%);
}
#hsla {
	background-color : hsl(230,50%,60%,0.3);
	color : hsla(350,40%,20%,0.7);
}
p {
	background-color : pink;
	color : Blue;
}
*/