*{
	margin:0px;
}
body{
	background-color: lightblue;
	background-image: url("background.jpg");
	background-position: right;
	background-repeat: no-repeat;
	background-attachment: fixed;
		/*background: lightblue url("background.jpg") no-repeat left top; */
}
h1{
	background-color:green;
		opacity:0.8;
}

div,p{
	background-image: url("background.jpg");
	
}
