/* Elememt Selector */
p {
	
	color : red;
}
/* Id Selector */	
#para1 {
	text-align: left;
	color : blue;
}
/* Class Selector */
p.center {
	color:grey;

}
h3.center {
	color : green;
	font-size: 100px;
}
h3.large {
	font-size: 50px;
}

/* Universal Selector */
* {
	text-align: right;
	color : orange;
}
/* Grouping Selector */
/*h1,h2,h3,p{
	
	color:yellow;
}*/