.font_style{
	font-style: italic;
	font-size: 20px;
	font-family: sans-serif, serif;
}

.font_weight{
	font-weight: bold;
}

.font_variant{
	/*font-variant: normal;*/
	font: italic small-caps bold 12px/30px Georgia, serif;
}