*{
	margin:0px;
}
body{
	background-color: lightblue;
	background-image: url("background.jpg");
	background-position: left;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1{
	background-color:green;
		opacity:0.8;
}
div,p{
	background-image: url("background.jpg");
	
}
