/*Elememt selector*/
p {
    color : red;
}
/*Id selector*/
#para1 {
    color : blue;
}
/*class selector*/
 .center {
     color : green;
}
/*Universal selector*/
 * {
     text-align : center;
     color : orange;
}
/*Grouping Selectors*/
 h1, h2, h3{
     color:grey;
}